* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: steelblue;
    --spacing: 1rem;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main {
    max-width: 840px;
}

main img {
    margin: 0 0 1rem 1rem;
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    font-size: 1rem;
    color: white;
    text-shadow: 1px 1px 4px black;
}

/* Class Selectors */
.box {
    margin: var(--spacing);
    border: 1px solid rgb(0 0 0 / 20%);
    padding: var(--spacing);
    background-color: #eee;
    color: #333;
}

main ul {
    clear: both;
}